html, body {
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.viewport {
    width: 500px;
    height: 100%;

    margin: 0 auto;
    padding: 0;

    background: #ffffff;
    border: 1px solid #999;

    overflow: auto;
}

.item {
    margin: 20px 20px;
    padding: 50px 0;
    text-align: center;

    background: blue;
    color: #fff;
}

.in-viewport {
    background: limegreen;
}
.not-in-viewport {
    background: hotpink;
}